@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto+Condensed:wght@300;400;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1, h3, p, ul li {
  color: #030303;
}

main {
  color: #fff;
  margin-top: 56px;
}
main section {
  padding: 100px 0;
}
main .banner {
  background-color: #FCC729;
  padding: 50px 0;
}
@media screen and (max-width: 991px) {
  main .banner {
    position: relative;
    z-index: 0;
  }
  main .banner h1, main .banner p, main .banner .btn {
    position: relative;
    z-index: 1;
  }
}
main .banner > .container {
  background-image: url("../images/online-bank-banking-concept-mobile-phone-with-falling-coin-payment-online-finance-management-dark-800.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (max-width: 991px) {
  main .banner > .container::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: 0;
    top: 0;
    background: rgba(252, 199, 41, 0.9);
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
@media screen and (min-width: 1200px) {
  main .banner > .container {
    background-position: 75% 50%;
  }
}
main .banner h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  font-size: 60px;
}
main .banner p {
  max-width: 550px;
  font-weight: 300;
}
main h3 {
  margin-bottom: 20px;
}
main h2 {
  font-size: 36px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  text-align: center;
  color: #030303;
}
@media screen and (min-width: 992px) {
  main h2 {
    font-size: 46px;
  }
}
main ul, main ol {
  margin: 0;
  padding: 0 0 0 20px;
}
main ul li, main ol li {
  margin-bottom: 5px;
  color: #030303;
  font-weight: 300;
}
main ul {
  list-style: none;
}
main ul li {
  position: relative;
  padding-left: 5px;
}
main ul li::before {
  content: "";
  height: 12px;
  width: 12px;
  position: relative;
  position: absolute;
  top: 6px;
  left: -20px;
  border: solid 3px #fcc729;
}
main a {
  color: #fcc729;
  text-decoration: none;
}
main p {
  font-weight: 300;
}

.navbar {
  background-color: #030303;
}

.navbar-brand {
  position: relative;
  width: 65px;
}
.navbar-brand img {
  height: 40px;
  position: absolute;
  width: auto;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

#how-to-play img {
  max-width: 250px;
  transform: scaleX(-1);
}

#game-mechanics {
  background-color: #f2f2f2;
}

.card {
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.03);
  overflow: hidden;
  border: solid 1px #fcc729;
  transition: all ease-in-out 0.2s;
}
@media screen and (min-width: 992px) {
  .card {
    max-width: 200px;
    min-height: 200px;
  }
}
.card:hover {
  margin-top: -4px;
  transition: all ease-in-out 0.2s;
}
.card .card-body {
  padding: 0;
}
.card .card-body a {
  text-decoration: none;
  display: block;
  background: #fcc729;
  position: relative;
}
.card .card-body a::before {
  background-image: url(../images/gamecoin-logo-transparent.png);
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  top: 0;
  left: 50%;
  z-index: 1;
  filter: invert(1);
  transform: translateX(-50%);
  opacity: 0.025;
  height: calc(100% - 42px);
}
@media screen and (min-width: 991px) {
  .card .card-body a::before {
    height: calc(100% - 51px);
  }
}
.card .card-body h5 {
  color: #030303;
  margin: 0;
  background-color: #fff;
  font-size: 28PX;
  padding: 25px 0;
}
@media screen and (min-width: 992px) {
  .card .card-body h5 {
    font-size: 42px;
    padding: 55px 0;
  }
}
.card .card-body p {
  margin: 0;
  text-transform: unset;
  background: #fcc729;
  font-weight: 600;
  font-size: 12px;
  padding: 12px 0;
}
@media screen and (min-width: 992px) {
  .card .card-body p {
    font-size: 18px;
    padding: 12px;
  }
}

footer {
  padding: 30px 0;
  background-color: #030303;
}
footer .footer-logo {
  max-width: 100px;
  margin-bottom: 10px;
}
footer .footer-logo + p {
  margin: 0;
  font-size: 12px;
}
footer p, footer ul li, footer a {
  color: #fff;
}
footer ul {
  padding: 0;
}
footer ul.footer-links {
  margin: 0;
}
footer ul.footer-links li {
  list-style: none;
  margin-bottom: 10px;
}
footer ul.footer-links li a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}
footer ul.footer-links li a:hover, footer ul.footer-links li a:focus {
  color: #fcc729;
}
footer ul.footer-links li:last-child {
  margin-bottom: 0;
}
footer ul.socials {
  margin: 0;
}
footer ul.socials li {
  list-style: none;
  font-size: 14px;
  display: inline-block;
  text-align: center;
  padding: 0 10px;
}
footer ul.socials li a {
  text-decoration: none;
}
footer ul.socials li a svg {
  height: 25px;
  width: auto;
  margin-bottom: 5px;
}
footer ul.socials li a span {
  display: block;
}
footer ul.socials li a:hover, footer ul.socials li a:focus {
  color: #fcc729;
}

.white-bubble {
  background-color: #f2f2f2;
}
.white-bubble .row {
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.03);
  border-radius: 15px;
  padding: 50px 0;
  background: #fff;
}

#lucky-modal .modal-content {
  border: solid 2px #FCC729;
}

.form-control {
  border: solid 1px #FCC729;
}

#play-game {
  padding-top: 70px;
  background-color: #f2f2f2;
}

.btn-dark:hover {
  background-color: transparent;
  color: #212529;
}

#countdown-banner {
  padding: 50px 0 20px;
  background-color: #030303;
  background-image: url(../images/abstract-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}
#countdown-banner:before {
  content: "";
  box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.5), inset 0px -5px 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.countdown-header {
  font-weight: 500;
  color: #fff;
  max-width: 251px;
  margin: 0 auto 25px;
  padding: 0 15px;
}

.countdown-wrapper {
  direction: rtl;
  margin: 0 auto;
}

.countdown-timer {
  margin: 0 auto;
  direction: ltr;
  width: 251px;
  height: 130px;
  position: relative;
  overflow: hidden;
}
.countdown-timer iframe {
  position: absolute;
  bottom: 0;
  right: 0;
}

.win-banner {
  text-align: center;
  background-color: #030303;
  background-image: url(../images/win-upto-1b-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.03);
  border-radius: 15px;
  padding: 50px 25px;
}
.win-banner img {
  max-width: 450px;
  width: 100%;
}

#mariland-qr {
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.03);
  padding: 10px;
  max-width: 250px;
  border-radius: 5px;
}

.mariland #xumm-qr {
  max-width: 360px;
  margin: 15px auto;
}
.mariland #how-to-buy ul, .mariland #how-to-buy ol {
  max-width: 500px;
  text-align: left;
  margin: 40px auto 20px;
}
.mariland #how-to-buy ul li, .mariland #how-to-buy ol li {
  margin-bottom: 15px;
}
.mariland #how-to-buy ul li::marker, .mariland #how-to-buy ol li::marker {
  color: #fcc729;
  font-size: 22px;
  font-weight: 400;
}
.mariland #map img {
  max-width: 800px;
  margin: 0 auto;
  display: block;
  width: 100%;
}
.mariland #rules .container {
  max-width: 1000px;
}
.mariland .important-note {
  z-index: -1;
  position: relative;
}

.text-with-icon {
  padding: 20px;
  font-size: 0;
}
.text-with-icon .img-wrapper,
.text-with-icon .text-wrapper {
  display: inline-block;
  font-size: initial;
  vertical-align: middle;
}
.text-with-icon .img-wrapper {
  width: 100px;
}
.text-with-icon .img-wrapper img {
  display: block;
  max-height: 60px;
  object-fit: scale-down;
  margin: 0 auto;
}
.text-with-icon .text-wrapper {
  width: calc(100% - 100px);
  padding-left: 20px;
}
.text-with-icon .text-wrapper p {
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
