RewriteEngine on
RewriteCond %{HTTP_HOST} ^bgamecoin.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.bgamecoin.com$
RewriteCond %{REQUEST_URI} !repositories/gamecoin/
RewriteRule (.*) /repositories/gamecoin/$1 [L]